body{
    width: 800px;
    height: 300px;
    margin: 100px auto;
}

.container{
    border: 2px orangered solid;
    box-shadow: 3px 3px 3px 3px salmon;
    padding: 30px;
}
.container h1{
    text-align: center;
}

.container ul li{
    list-style: none;
    text-align: center;
}

