body{
    width: 500px;
    height: 200px;
    margin: 100px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
}

.container{
    border: 1px salmon solid;
    padding: 40px;
}
.container #name{
    margin: 10px;
}

.container #button {
    margin: 10px;
}