body {
    width: 800px;
    height: 400px;
    margin: 80px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EDEDED;
    border: 1px brown solid;


     -webkit-box-shadow: 3px 3px 3px 3px #ccc;
     /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     /* [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color] */

     -moz-box-shadow: 3px 3px 3px 3px #ccc;
     /* Firefox 3.5 - 3.6 */

     box-shadow: 3px 3px 3px 3px #ccc;
     /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.container{
    padding: 30px;
}

.container p {
    font-size: 18px;
}

.container h1 {
    text-align: center;
}

.container .images {
    text-align: center;
}

p .animal {
    color: red;
}